.app {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        height: 95vh;
        width: 95vw;
        margin: auto;
        border: 3px solid #008F11;
    }


    &__nav-bar {
        height: 10vh;
        width: 95vw;
        border: solid #008F11;
        border-width: 0px 0px 3px 0px ;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &__navigation {
            width: 50vw;
            display: flex;
            align-items: center;
            justify-content: space-around;
        
            &__btn {
                height: 35px;
                width: 150px;
                border: 3px solid #008F11;                    
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: #03c71a;
                font-size: 18px;
                font-weight: 600;
            }

            &__btn:hover {
                background-color: #008F11;
                color: #000000;
            }
        }

        &__search {
            height: 35px;
            width: 400px;
            font-size: 18px;
            font-family: monospace;
            border: 2px solid #03c71a;
            background-color: transparent;
            color: #50FF00;
            outline: none;
        }
    }


    &__content {
        direction: rtl;
        height: 85vh;
        overflow-y: scroll;

        &__front-page {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        &__reverse {
            height: 85vh;
            direction:ltr;
        }
    }
    &__content::-webkit-scrollbar {
        width: 10px;
        border:3px solid #008F11;
        border-width: 0px 3px 0px 0px;
    }
    &__content::-webkit-scrollbar-thumb{
        background-color: #008F11;
    }
}