.app {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        height: 95vh;
        width: 95vw;
        margin: auto;
        border: 3px solid #008F11;
    }

    &__content {
        direction: rtl;
        height: 85vh;
        overflow-y: scroll;
        
        &__reverse {
            height: 85vh;
            direction:ltr;
        }
    }
    &__content::-webkit-scrollbar {
        width: 10px;
        border:3px solid #008F11;
        border-width: 0px 3px 0px 0px;
    }
    &__content::-webkit-scrollbar-thumb{
        background-color: #008F11;
    }
}