<div class="card">
  
    <div class="card__title">
        <h1> {{ location.name }}</h1>
    </div>

  <div class="card__content">
    <ul>
        <li>
            <h3>Type: {{ location.type }}</h3>
        </li>
        <li>
            <h3>
                Dimension: <br />
                {{ location.dimension }}
            </h3>
        </li>
        <li>
            <h3>
                Created: {{ location.created | date:"shortDate" }}
            </h3>
        </li>
        <li >
            <a 
                (click)="redirectToCharacters()" 
                [routerLink]="['/characters']" 
                class="card__link"> 
                residents ⫸ 
            </a>
        </li>
    </ul>
  </div>
</div>
