.character {
    display: flex;
    align-items: center;
    
    &__image{
        height: 350px;
        width: 350px;

        &__container {
            height: 400px;
            width: 400px;
            min-width: 400px;
            margin: 25px;
            border: 5px solid #008F11;
            background-color: #003300;
            box-shadow: 0px 0px 20px 3px #005200; 
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__info {
        
        display: flex;
        justify-content: space-around;
        padding-left: 25px;
        
        &__name {
            width: 100%;
            box-sizing: border-box;
            border: solid #008F11;
            border-width: 0px 0px 3px 0px;
            padding-left: 25px;
        }

        &__container {
            font-size: 18px;
            font-weight: 700;
            margin: 25px;
            width: 100%;
            height: 400px;
            border: 5px solid #008F11; 
            background-color: #003300;
            box-shadow: 0px 0px 20px 3px #005200; 
        }

        &__episodes {
            
            height: 250px;
            width: 350px;
            margin:  25px;
            border: 3px solid #008F11;

            &__title {
                width: 100%;
                border: solid #008F11;
                border-width: 0px 0px 3px 0px;
                box-sizing: border-box;
            }

            &__container {
                overflow-y: scroll;
                height: 90%;
                box-sizing: border-box;
                
            }
            
            &__container::-webkit-scrollbar {
                width: 10px;
                border:3px solid #008F11;
                border-width: 0px 0px 0px 3px;
            }
            &__container::-webkit-scrollbar-thumb{
                background-color: #008F11;
            }

            &__i {
                border: 2px solid transparent;
                cursor: default;
            }
            &__i:hover {
                border: 2px solid #008F11;
                background-color: #008F11;
                color: #000000;
            }

        }   

    }

}

.back-btn {
    height: 25px;
    width: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #50FF00;
    border: 2px solid #008F11;
    margin: 50px;

    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.back-btn:hover {
    color: #000000;
    background-color: #50FF00;
}